body {
  background: rgb(173, 216, 250);
  /* degradado de fondo*/
  background: linear-gradient(
      180deg,
      rgba(173, 216, 250,1) 20%,
      rgba(214, 235, 252,1) 99%
    )
    fixed;
}

#mi-foto {

  border-radius: 5%;
  width: auto;
  height: auto;
  /*sombreado*/
  box-shadow:0 0 50px 3px #808080;
  margin: 20px;
  
}

.social-icon {
  max-height: 30px; 
}
a:link {
  color:rgb(11,83,148);
  font-family:Cambria;
}
a:visited
 {
  color:rgb(11,83,148);
}

.carta {
  /*bloque de canciones*/
  margin-top: 16px;
  background-color:#e9eff5;
  border-radius: 20px;
  border-color: rgb(51,61,81);
  padding: 10px;
  box-shadow: 0 0 20px 1px;
  font-family:'Cambria';
}
/*parrafin*/
.text{
   margin-top: 30px;
   margin-bottom: 30px;
   margin-left: 100px;
   margin-right: 100px;
   font-family: 'Cambria', serif;
   color:rgb(19, 18, 18);
   font-size: 20px;
   text-align: center;
}

.tablita
{
  margin: 10px auto;
  border-collapse:collapse;
  width:80%;
  text-align: center;
  font-family: 'Cambria', serif;
  background-color: #e9eff5;
  box-shadow: 0 0 10px 1px;
   
}

.tablita th,
.tablita td
{
  border:1px solid #444;
  padding: 12px;
}

.tablita th{
  background-color: #808080;
  font-size: 20px;

}
