.tablita
{
  margin: 100px auto;
  border-collapse:collapse;
  width:80%;
  text-align: center;
  font-family: 'Calibri';
  background-color: #e0dfd5;
  box-shadow: 0 0 10px 1px;
  
   
}

.tablita tr:hover {
  background-color: #bce5e0; /* Color suave al pasar el cursor */
  cursor: pointer;           /* Cambia el cursor a mano */
  transition: background-color 0.3s ease;
}

.tablita th,
.tablita td
{
  border:1px solid #0c0c0c;
  padding: 12px;
}

.tablita th{
  background-color: #84a399;
  font-size: 20px;

}
